<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happybirthdayapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyBirthdayApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Birthday Card Activity-->
        <activity
            android:name=".BirthdayActivity"
            android:exported="true" />
        <!-- Dice Roll Activity   -->
        <activity
            android:name=".DiceRollActivity"
            android:exported="true" />
        <!--        List View Activity-->
        <activity
            android:name=".ListViewActivity"
            android:exported="true" />
        <!--        Tip Calculator Activity-->
        <activity
            android:name=".TipCalculatorActivity"
            android:exported="true" />
        <!-- Auth Activity -->
        <activity android:name=".AuthActivity"
            android:exported="true"/>
    </application>

</manifest>